# Домашняя работа

In [3]:
s=[]
with open('fruits.csv') as f:
    q = f.readline().strip().split(',')

    for j in range(0,9):
        i=f.readline()
        i=i[:-1]
        i=i.split(',')
        d={}
        for a in range(0,5):
            d.update({q[a]:i[a]})
        s.append(d)
a1=()
for j in s:
    j.update({'Rub' : int(j['sum'])*90})
s

[{'country': 'Equador',
  'fruit': 'banana',
  'count': '123000',
  'price': '1.25',
  'sum': '153750',
  'Rub': 13837500},
 {'country': 'Equador',
  'fruit': 'avocado',
  'count': '22000',
  'price': '2.55',
  'sum': '56100',
  'Rub': 5049000},
 {'country': 'Equador',
  'fruit': 'mango',
  'count': '36000',
  'price': '3.8',
  'sum': '136800',
  'Rub': 12312000},
 {'country': 'China',
  'fruit': 'banana',
  'count': '88000',
  'price': '1.2',
  'sum': '105600',
  'Rub': 9504000},
 {'country': 'China',
  'fruit': 'mango',
  'count': '45000',
  'price': '3.2',
  'sum': '144000',
  'Rub': 12960000},
 {'country': 'Marocco',
  'fruit': 'orange',
  'count': '56000',
  'price': '1.9',
  'sum': '106400',
  'Rub': 9576000},
 {'country': 'Egypt',
  'fruit': 'orange',
  'count': '23000',
  'price': '1.85',
  'sum': '42550',
  'Rub': 3829500},
 {'country': 'Thailand',
  'fruit': 'avocado',
  'count': '18000',
  'price': '2.44',
  'sum': '43920',
  'Rub': 3952800},
 {'country': 'Thailand',
  'fruit': 'mango',
  'count': '42000',
  'price': '3.3',
  'sum': '138600',
  'Rub': 12474000}]

In [16]:
s=[]
with open('fruits.csv') as f:
    q = f.readline().strip().split(',')
    s = [dict(zip(q, line.strip().split(','))) for line in f.readlines()]
    for line in s:
        line['Rub'] = int(line['sum']) * 90

In [18]:
s

[{'country': 'Equador',
  'fruit': 'banana',
  'count': '123000',
  'price': '1.25',
  'sum': '153750',
  'Rub': 13837500},
 {'country': 'Equador',
  'fruit': 'avocado',
  'count': '22000',
  'price': '2.55',
  'sum': '56100',
  'Rub': 5049000},
 {'country': 'Equador',
  'fruit': 'mango',
  'count': '36000',
  'price': '3.8',
  'sum': '136800',
  'Rub': 12312000},
 {'country': 'China',
  'fruit': 'banana',
  'count': '88000',
  'price': '1.2',
  'sum': '105600',
  'Rub': 9504000},
 {'country': 'China',
  'fruit': 'mango',
  'count': '45000',
  'price': '3.2',
  'sum': '144000',
  'Rub': 12960000},
 {'country': 'Marocco',
  'fruit': 'orange',
  'count': '56000',
  'price': '1.9',
  'sum': '106400',
  'Rub': 9576000},
 {'country': 'Egypt',
  'fruit': 'orange',
  'count': '23000',
  'price': '1.85',
  'sum': '42550',
  'Rub': 3829500},
 {'country': 'Thailand',
  'fruit': 'avocado',
  'count': '18000',
  'price': '2.44',
  'sum': '43920',
  'Rub': 3952800},
 {'country': 'Thailand',
  'fruit': 'mango',
  'count': '42000',
  'price': '3.3',
  'sum': '138600',
  'Rub': 12474000}]

In [14]:
with open('test1.txt', 'w') as f:
    for n, m in enumerate(['a','b','c','d']):
        print(n,m)
        f.write(','.join([str(n), str(m)]) + '\n')

0 a
1 b
2 c
3 d

In [47]:
with open('fr.txt', 'w') as f:
    f.write('#,' + ','.join(s[1].keys()) + '\n')
    for n, m in enumerate(s):
        print(n,m)
        apch = [str(i) for i in m.values()]
        f.write(','.join([str(n+1), ','.join(apch)]) + '\n')

0 {'country': 'Equador', 'fruit': 'banana', 'count': '123000', 'price': '1.25', 'sum': '153750', 'Rub': 13837500}
1 {'country': 'Equador', 'fruit': 'avocado', 'count': '22000', 'price': '2.55', 'sum': '56100', 'Rub': 5049000}
2 {'country': 'Equador', 'fruit': 'mango', 'count': '36000', 'price': '3.8', 'sum': '136800', 'Rub': 12312000}
3 {'country': 'China', 'fruit': 'banana', 'count': '88000', 'price': '1.2', 'sum': '105600', 'Rub': 9504000}
4 {'country': 'China', 'fruit': 'mango', 'count': '45000', 'price': '3.2', 'sum': '144000', 'Rub': 12960000}
5 {'country': 'Marocco', 'fruit': 'orange', 'count': '56000', 'price': '1.9', 'sum': '106400', 'Rub': 9576000}
6 {'country': 'Egypt', 'fruit': 'orange', 'count': '23000', 'price': '1.85', 'sum': '42550', 'Rub': 3829500}
7 {'country': 'Thailand', 'fruit': 'avocado', 'count': '18000', 'price': '2.44', 'sum': '43920', 'Rub': 3952800}
8 {'country': 'Thailand', 'fruit': 'mango', 'count': '42000', 'price': '3.3', 'sum': '138600', 'Rub': 12474000}

In [32]:
#,country,fruit,
1,Equador,
2,

[{'country': 'Equador',
  'fruit': 'banana',
  'count': '123000',
  'price': '1.25',
  'sum': '153750',
  'Rub': 13837500},
 {'country': 'Equador',
  'fruit': 'avocado',
  'count': '22000',
  'price': '2.55',
  'sum': '56100',
  'Rub': 5049000},
 {'country': 'Equador',
  'fruit': 'mango',
  'count': '36000',
  'price': '3.8',
  'sum': '136800',
  'Rub': 12312000},
 {'country': 'China',
  'fruit': 'banana',
  'count': '88000',
  'price': '1.2',
  'sum': '105600',
  'Rub': 9504000},
 {'country': 'China',
  'fruit': 'mango',
  'count': '45000',
  'price': '3.2',
  'sum': '144000',
  'Rub': 12960000},
 {'country': 'Marocco',
  'fruit': 'orange',
  'count': '56000',
  'price': '1.9',
  'sum': '106400',
  'Rub': 9576000},
 {'country': 'Egypt',
  'fruit': 'orange',
  'count': '23000',
  'price': '1.85',
  'sum': '42550',
  'Rub': 3829500},
 {'country': 'Thailand',
  'fruit': 'avocado',
  'count': '18000',
  'price': '2.44',
  'sum': '43920',
  'Rub': 3952800},
 {'country': 'Thailand',
  'fruit': 'mango',
  'count': '42000',
  'price': '3.3',
  'sum': '138600',
  'Rub': 12474000}]

In [90]:
import random
s=[]
with open('operator_weights.csv') as f:
    q = f.readline().strip().split(',')
    s = [line.strip().split(',') for line in f.readlines()]
    a = [i[0] for i in s]
    w = [int(i[1]) for i in s]
def fun(a, w):
    print(random.choices(a, w, k=1))
for i in range(1,20):
    fun(a, w)

['Tele2']
['MTS']
['Megafone']
['MTS']
['MTS']
['MTS']
['Tele2']
['Megafone']
['Beeline']
['Megafone']
['Tele2']
['MTS']
['Beeline']
['Megafone']
['Tele2']
['Beeline']
['Beeline']
['Tele2']
['MTS']

In [86]:
s

[['MTS', '40'], ['Tele2', '10'], ['Beeline', '20'], ['Megafone', '30']]